<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button *ngIf="readLocalStorageValue('userId')!=null" mat-icon-button (click)="sidenav.toggle();">
      <mat-icon>menu</mat-icon>
    </button>
   <h1 style="margin-top: 17px;">Cricket Scoring App</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [style]="readLocalStorageValue('userId')!=null ? 'padding-left: 10px;padding-right: 10px;padding-top: 5px;' : ''">
    <mat-nav-list *ngIf="readLocalStorageValue('userId')!=null">
      <a mat-list-item [routerLink]="['/']">Home</a>
      <a mat-list-item *ngIf="readLocalStorageValue('userId')!=null" [routerLink]="['/addtournament']">Add Tournament</a>
      <a mat-list-item [routerLink]="['/viewtournament']" *ngIf="readLocalStorageValue('userId')!=null">My Tournament</a>
      <a mat-list-item *ngIf="readLocalStorageValue('userId')!=null">Start Match</a>
      <a mat-list-item [routerLink]="['/editmyprofile']" *ngIf="readLocalStorageValue('userId')!=null">Edit My Profile</a>
      <a mat-list-item [routerLink]="['/login']" *ngIf="readLocalStorageValue('userId')==null">Login</a>
      <a mat-list-item (click)="removekey()" [routerLink]="['/login']" *ngIf="readLocalStorageValue('userId')!= null">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <div style="height: 100vh">
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-spinner></app-spinner>